@using System.Configuration

<!DOCTYPE html>
<html>
<head>
    @RenderPage("../Shared/HeaderIPad.cshtml")
</head>
<body class="gray" onselectstart="return false">
    @RenderPage("../Shared/BodyLayout.cshtml")

    <script type="text/lizard-config">
        {
            "url_schema": "/citylist",
            "model": {
                "apis":[{
                    url:"@Url.Content("~/CityData")"
                }],
                "filter":function (datas){
                     var ret = {data:JSON.parse(datas[0]).data};
                     return ret;
                }
            },
            "view":{
                "header": Lizard.T("headTmpl"),
                "viewport": Lizard.T("viewportTmpl")
            },
            "controller": "@ConfigurationManager.AppSettings["WebresourcePDBaseUrl"]tour/controllers/citylist.js"
        }
    </script>

    <script id="headTmpl" type="text/lizard-template">
        <h1>请选择城市</h1>
    </script>

    <script id="viewportTmpl" type="text/lizard-template">
       <div class="body nofoot">
        <div id="destionationSearch" class="top_box destionation_search">
            <div class="search_wrap2">
                <div class="search_p">
                    <form action="#vacationslist">
                        <div class="search_box2">
                            <input type="search" class="search_text" placeholder="目的地、主题或关键词">
                            <a href="javascript:;" class="clear_input2" style="display:none;"></a>
                        </div>
                        <a href="javascript:;" class="cancel" style="display:none;">取消</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="destlist">
            <div class="destionation_tab">
                <ul class="city_tab">
                    <li class="minland on" data-mode="1">国内游</li>
                    <li data-mode="2">海外游</li>
                </ul>
            </div>
            <section class="city_box"  id="Section1">
                <div class="interbox vcitylist">
                    <h4 class="area_title area_cur alphabet">热门</h4>
                    <div class="area_subnav">
                        <%_.each(data.hotCity,function(v,k){ %>
                        <a href="javascript:;" data-name="<%=v.name %>" data-id="<%=v.id %>" data-selectflag="<%=v.selectFlag %>"><%=v.name %></a>
                        <%}) %>
                    </div>
                    <%_.each(data.Alphabet,function(v,k){ if(!!v){ %>
                    <h4 class="area_title alphabet"><%=v.initial %></h4>
                    <div class="area_subnav">
                        <%_.each(v.data,function(w,l){ %>
                        <a href="javascript:;" data-name="<%=w.name %>" data-id="<%=w.id %>" data-selectflag="<%=w.selectFlag %>"><%=w.name %></a>
                        <%}) %>
                    </div>
                    <%}}) %>
                </div>
            </section>
        </div>
    </div>

    <div class="search_content" style="display:none">
        <ul class="search_history seahistory" style="">
            
        </ul>
        <ul class="associate search_history" style=""></ul>
        <div class="base_loading" style="display:none"><i></i>加载中</div>
        <div class="sub_box re_history">清除搜索历史</div>
        <div class="sub_box no_result" style="display:none">没有结果</div>
        <div class="sub_box no_history">无搜索历史</div>
    </div>
    </script>
    <script>
        window.isIpad = true;
    </script>

    @RenderPage("../Shared/Footer.cshtml")

</body>
</html>