@using System.Configuration

<!DOCTYPE html>
<html>
<head>
    @RenderPage("../Shared/HeaderIPad.cshtml")
</head>
<body class="gray" onselectstart="return false">
    @RenderPage("../Shared/BodyLayout.cshtml")

    <script type="text/lizard-config">
        {
            "url_schema": "detailIpad/{pid}/{dcid}",
            "model": {
                "apis":[{
                    url:'http://m.ctrip.com/restapi/vacationapi/product/productdetail',
                    postdata:{"pId":Lizard.P("pid"),"scId":2,"dcId":Lizard.P("dcid"),"reqType":[1],"head":{"cid":"a64ac7fd-203a-83bd-5e99-6bb4d594171b","ctok":"351858059049938","cver":"1.0","lang":"01","sid":"8888","syscode":"09","auth":""}}
                }],
                "filter":function (datas){
                    var ret = {data:datas[0].data};
                    return ret;
                    }
            },
            "view":{
                "header": Lizard.T("headTmpl"),
                "viewport": Lizard.T("viewportTmpl")
            },
            "controller": "@ConfigurationManager.AppSettings["WebresourcePDBaseUrl"]tour/controllers/detail.js"
        }
    </script>

    <script id="headTmpl" type="text/lizard-template">
        <h1>产品详情</h1>
    </script>

    <script id="viewportTmpl" type="text/lizard-template">
        <div class="body">
            <div class="banner_box" id="js_detail_pic_slide">
            </div>
            <div class="image-node slider-imageContainerNode"><img style="width: 1024px; height: 274px;" src="@ConfigurationManager.AppSettings["WebresourceBaseUrl"]tour/image/detail.jpg" alt=""></div>
            <ul class="detail_tab">
                <li class="current">概要</li>
                <li><%if(data.travelDay){ %><%=data.travelDay %>日<%}else{ %>暂无<%} %>行程</li>
                <li><%=data.commentNum %>条点评</li>
            </ul>
            <div style="display: none;" class="tab_loading">
                <div style="" class="cui-breaking-load"> <div class="cui-i cui-m-logo"></div> <div class="cui-i cui-w-loading"></div></div>
            </div>
            <div class="profile_box js_tab_showbox">
                <%if(data.detailInfo){ %>
                <div class="product_wrap">
                    <h2><%=data.detailInfo.pName %><%if(data.detailInfo.name){ %>·<%=data.detailInfo.name %><% } %></h2>
                    <div class="price_box">
                        <% if(data.detailInfo.price == 0) { %>
                        <p class="price font14">实时计价</p>
                        <% } else { %>
                        <p class="price"><dfn>¥</dfn><%=data.detailInfo.price %><em>起</em></p>
                        <%} %>
                        <% if(data.detailInfo.isCashBack) { %><i class="orange"><dfn>返</dfn><%=data.detailInfo.cashBackAmount %></i><%} %>
                        <% if(data.detailInfo.isWifi) { %><i class="wifi">免费WiFi</i><%} %>
                        <% if(!_.isEmpty(data.detailInfo.specialTags)) { %>
                        <% _.each(data.detailInfo.specialTags, function (v, k) { %>
                        <i class="green"><%=v %></i>
                        <% }) %>
                        <% } %>
                    </div>
                    <% if(!_.isEmpty(data.detailInfo.promos)) { %>
                    <p class="onsale_text">
                        <% _.each(data.detailInfo.promos, function (v, k) { %>
                        <%=v %><% if((k+1) !== data.detailInfo.promos.length) { %>，<% } %>
                        <% }) %>
                    </p>
                    <% } %>
                    <div class="corp_box_wrap">
                        <div class="corp_box">
                            <span class="start_city"><%=data.detailInfo.departName %>出发</span>
                            <span class="corp"><%=data.detailInfo.vendor %></span>
                            <span class="number">编号:<%=data.detailInfo.pId %></span>
                        </div>
                    </div>
                </div>
                <div class="recommend_wrap">
                    <% if(data.detailInfo.recommends) { %>
                    <div class="recommend_detail">
                        <div class="recommend_txt">
                            <h3>产品经理推荐</h3>
                            <ul>
                                <% _.each(data.detailInfo.recommends, function (v, k) { %>
                                <li<% if(k > 2) { %>class="js_more_Content" style="display:none"<% } %>><%=v.desc %> <% if(v.url) { %><a href="<%=v.url %>" target="_blank">查看更多>></a><% } %></li>
                                <% }) %>
                            </ul>
                            <% if(data.detailInfo.recommends.length > 3) { %><div class="more_text"><a class="js_more_Content_btn" href="javascript:void(0);">更多</a></div><% } %>
                        </div>
                    </div>
                    <% } %>

                    <% var isCost = _.every(_.pluck(data.detailInfo.costs, "descs"), function(key) { return key == '' }) %>
                    <% if(!isCost) { %>
                    <div class="recommend_detail">
                        <div class="recommend_txt">
                            <h3>费用说明</h3>
                            <ul>
                                <% _.each(data.detailInfo.costs, function (v, k) { %>
                                <% if(v.descs.length > 0) { %>
                                <% _.each(v.descs, function (m, n) { %>
                                <li><%=m %></li>
                                <% }) %>
                                <% } %>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    <% } %>
                    <ul class="more_info">
                        <li class="btn_active"><a href="#booking.step1">出发班期与价格日历</a></li>
                        <% if(data.detailInfo.isCashBack) { %>
                        <li class="btn_active"><a href="#detail.return.cash">返现说明</a></li><% } %>
                        <li class="btn_active" style="display:none;"><a href="#detail.booking.note">预订须知</a></li>
                        <% if(_.indexOf([11,12,26,34], data.detailInfo.pCategoryId) >=0) { %>
                        <li class="btn_active"><a href="#detail.visa">签证/签注</a></li><% } %>
                        <% if(data.qaNum > 0) { %>
                        <li class="detail_question btn_active"><span><%=data.qaNum %>条</span>咨询问答</a></li><% } %>
                    </ul>
                </div>
                <% if(!data.isBook) { %><div class="product_offline_notice">此产品暂不支持在线预订</div><%} %>
                <%} %>
            </div>

            <div class="route_box js_tab_showbox" style="display: none;">
            </div>

            <div class="score_box js_tab_showbox" style="display: none;">
            </div>

            <div class="body">
                <div class="price_calendar">
                    <div class="calendar_title">
                        <h2>请选择出发日期</h2>
                        <span>代表已成团</span>
                    </div>
                    <div id="js-calendar-wrapper">
                        <div class="calendar_box">
                            <table class="calendar_table js-calendar-month" data-year="2014" data-month="3">
                                <caption>2014年4月</caption>
                                <tbody>
                                    <tr>
                                        <th>日</th>
                                        <th>一</th>
                                        <th>二</th>
                                        <th>三</th>
                                        <th>四</th>
                                        <th>五</th>
                                        <th>六</th>
                                    </tr>
                                    <tr data-week="0">
                                        <td></td>
                                        <td></td>
                                        <td class="js-calendar-day  " data-day="2" data-date="1" data-available="false">
                                            1
                                        </td>
                                        <td class="js-calendar-day  " data-day="3" data-date="2" data-available="false">
                                            2
                                        </td>
                                        <td class="js-calendar-day  " data-day="4" data-date="3" data-available="false">
                                            3
                                        </td>
                                        <td class="js-calendar-day  " data-day="5" data-date="4" data-available="false">
                                            4
                                        </td>
                                        <td class="js-calendar-day  " data-day="6" data-date="5" data-available="false">
                                            清明
                                        </td>
                                    </tr>
                                    <tr data-week="1">
                                        <td class="js-calendar-day  " data-day="0" data-date="6" data-available="false">
                                            6
                                        </td>
                                        <td class="js-calendar-day  " data-day="1" data-date="7" data-available="false">
                                            7
                                        </td>
                                        <td class="js-calendar-day  " data-day="2" data-date="8" data-available="false">
                                            8
                                        </td>
                                        <td class="js-calendar-day  " data-day="3" data-date="9" data-available="false">
                                            9
                                        </td>
                                        <td class="js-calendar-day  " data-day="4" data-date="10" data-available="false">
                                            10
                                        </td>
                                        <td class="js-calendar-day  " data-day="5" data-date="11" data-available="false">
                                            11
                                        </td>
                                        <td class="js-calendar-day  " data-day="6" data-date="12" data-available="false">
                                            12
                                        </td>
                                    </tr>
                                    <tr data-week="2">
                                        <td class="js-calendar-day  " data-day="0" data-date="13" data-available="false">
                                            13
                                        </td>
                                        <td class="js-calendar-day  " data-day="1" data-date="14" data-available="false">
                                            14
                                        </td>
                                        <td class="js-calendar-day  " data-day="2" data-date="15" data-available="false">
                                            15
                                        </td>
                                        <td class="js-calendar-day  " data-day="3" data-date="16" data-available="false">
                                            16
                                        </td>
                                        <td class="js-calendar-day  " data-day="4" data-date="17" data-available="false">
                                            17
                                        </td>
                                        <td class="js-calendar-day  " data-day="5" data-date="18" data-available="false">
                                            18
                                        </td>
                                        <td class="js-calendar-day  " data-day="6" data-date="19" data-available="false">
                                            19
                                        </td>
                                    </tr>
                                    <tr data-week="3">
                                        <td class="js-calendar-day  " data-day="0" data-date="20" data-available="false">
                                            20
                                        </td>
                                        <td class="js-calendar-day  " data-day="1" data-date="21" data-available="false">
                                            21
                                        </td>
                                        <td class="js-calendar-day  " data-day="2" data-date="22" data-available="false">
                                            今天
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="23" data-available="true">
                                            明天
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="24" data-available="true">
                                            后天
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="25" data-available="true">
                                            25
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="26" data-available="true">
                                            26
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="4">
                                        <td class="js-calendar-day on " data-day="0" data-date="27" data-available="true">
                                            27
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="28" data-available="true">
                                            28
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="29" data-available="true">
                                            29
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="30" data-available="true">
                                            30
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="calendar_table js-calendar-month" data-year="2014" data-month="4">
                                <caption>2014年5月</caption>
                                <tbody>
                                    <tr>
                                        <th>日</th>
                                        <th>一</th>
                                        <th>二</th>
                                        <th>三</th>
                                        <th>四</th>
                                        <th>五</th>
                                        <th>六</th>
                                    </tr>
                                    <tr data-week="0">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="js-calendar-day on " data-day="4" data-date="1" data-available="true">
                                            劳动节
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="2" data-available="true">
                                            2
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="3" data-available="true">
                                            3
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="1">
                                        <td class="js-calendar-day on " data-day="0" data-date="4" data-available="true">
                                            4
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="5" data-available="true">
                                            5
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="6" data-available="true">
                                            6
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="7" data-available="true">
                                            7
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="8" data-available="true">
                                            8
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="9" data-available="true">
                                            9
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="10" data-available="true">
                                            10
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="2">
                                        <td class="js-calendar-day on " data-day="0" data-date="11" data-available="true">
                                            11
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="12" data-available="true">
                                            12
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="13" data-available="true">
                                            13
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="14" data-available="true">
                                            14
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="15" data-available="true">
                                            15
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="16" data-available="true">
                                            16
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="17" data-available="true">
                                            17
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="3">
                                        <td class="js-calendar-day on " data-day="0" data-date="18" data-available="true">
                                            18
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="19" data-available="true">
                                            19
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="20" data-available="true">
                                            20
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="21" data-available="true">
                                            21
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="22" data-available="true">
                                            22
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="23" data-available="true">
                                            23
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="24" data-available="true">
                                            24
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="4">
                                        <td class="js-calendar-day on " data-day="0" data-date="25" data-available="true">
                                            25
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="26" data-available="true">
                                            26
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="27" data-available="true">
                                            27
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="28" data-available="true">
                                            28
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="29" data-available="true">
                                            29
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="30" data-available="true">
                                            30
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="31" data-available="true">
                                            31
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="calendar_table js-calendar-month" data-year="2014" data-month="5">
                                <caption>2014年6月</caption>
                                <tbody>
                                    <tr>
                                        <th>日</th>
                                        <th>一</th>
                                        <th>二</th>
                                        <th>三</th>
                                        <th>四</th>
                                        <th>五</th>
                                        <th>六</th>
                                    </tr>
                                    <tr data-week="0">
                                        <td class="js-calendar-day on " data-day="0" data-date="1" data-available="true">
                                            1
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="2" data-available="true">
                                            端午
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="3" data-available="true">
                                            3
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="4" data-available="true">
                                            4
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="5" data-available="true">
                                            5
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="6" data-available="true">
                                            6
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="7" data-available="true">
                                            7
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="1">
                                        <td class="js-calendar-day on " data-day="0" data-date="8" data-available="true">
                                            8
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="9" data-available="true">
                                            9
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="10" data-available="true">
                                            10
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="11" data-available="true">
                                            11
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="12" data-available="true">
                                            12
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="13" data-available="true">
                                            13
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="14" data-available="true">
                                            14
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="2">
                                        <td class="js-calendar-day on " data-day="0" data-date="15" data-available="true">
                                            15
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="16" data-available="true">
                                            16
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="17" data-available="true">
                                            17
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="18" data-available="true">
                                            18
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="19" data-available="true">
                                            19
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="20" data-available="true">
                                            20
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="21" data-available="true">
                                            21
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="3">
                                        <td class="js-calendar-day on " data-day="0" data-date="22" data-available="true">
                                            22
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="23" data-available="true">
                                            23
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="24" data-available="true">
                                            24
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="25" data-available="true">
                                            25
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="26" data-available="true">
                                            26
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="27" data-available="true">
                                            27
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="28" data-available="true">
                                            28
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="4">
                                        <td class="js-calendar-day on " data-day="0" data-date="29" data-available="true">
                                            29
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="30" data-available="true">
                                            30
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="calendar_table js-calendar-month" data-year="2014" data-month="6">
                                <caption>2014年7月</caption>
                                <tbody>
                                    <tr>
                                        <th>日</th>
                                        <th>一</th>
                                        <th>二</th>
                                        <th>三</th>
                                        <th>四</th>
                                        <th>五</th>
                                        <th>六</th>
                                    </tr>
                                    <tr data-week="0">
                                        <td></td>
                                        <td></td>
                                        <td class="js-calendar-day on " data-day="2" data-date="1" data-available="true">
                                            1
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="2" data-available="true">
                                            2
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="3" data-available="true">
                                            3
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="4" data-available="true">
                                            4
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="5" data-available="true">
                                            5
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="1">
                                        <td class="js-calendar-day on " data-day="0" data-date="6" data-available="true">
                                            6
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="7" data-available="true">
                                            7
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="8" data-available="true">
                                            8
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="9" data-available="true">
                                            9
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="10" data-available="true">
                                            10
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="11" data-available="true">
                                            11
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="12" data-available="true">
                                            12
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="2">
                                        <td class="js-calendar-day on " data-day="0" data-date="13" data-available="true">
                                            13
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="14" data-available="true">
                                            14
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="15" data-available="true">
                                            15
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="16" data-available="true">
                                            16
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="17" data-available="true">
                                            17
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="18" data-available="true">
                                            18
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="19" data-available="true">
                                            19
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="3">
                                        <td class="js-calendar-day on " data-day="0" data-date="20" data-available="true">
                                            20
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="21" data-available="true">
                                            21
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="22" data-available="true">
                                            22
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="23" data-available="true">
                                            23
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="24" data-available="true">
                                            24
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="25" data-available="true">
                                            25
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="26" data-available="true">
                                            26
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="4">
                                        <td class="js-calendar-day on " data-day="0" data-date="27" data-available="true">
                                            27
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="28" data-available="true">
                                            28
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="29" data-available="true">
                                            29
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="30" data-available="true">
                                            30
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="31" data-available="true">
                                            31
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="calendar_table js-calendar-month" data-year="2014" data-month="7">
                                <caption>2014年8月</caption>
                                <tbody>
                                    <tr>
                                        <th>日</th>
                                        <th>一</th>
                                        <th>二</th>
                                        <th>三</th>
                                        <th>四</th>
                                        <th>五</th>
                                        <th>六</th>
                                    </tr>
                                    <tr data-week="0">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="js-calendar-day on " data-day="5" data-date="1" data-available="true">
                                            1
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="2" data-available="true">
                                            七夕
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="1">
                                        <td class="js-calendar-day on " data-day="0" data-date="3" data-available="true">
                                            3
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="4" data-available="true">
                                            4
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="5" data-available="true">
                                            5
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="6" data-available="true">
                                            6
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="7" data-available="true">
                                            7
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="8" data-available="true">
                                            8
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="9" data-available="true">
                                            9
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="2">
                                        <td class="js-calendar-day on " data-day="0" data-date="10" data-available="true">
                                            10
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="11" data-available="true">
                                            11
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="12" data-available="true">
                                            12
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="13" data-available="true">
                                            13
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="14" data-available="true">
                                            14
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="15" data-available="true">
                                            15
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="16" data-available="true">
                                            16
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="3">
                                        <td class="js-calendar-day on " data-day="0" data-date="17" data-available="true">
                                            17
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="18" data-available="true">
                                            18
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="19" data-available="true">
                                            19
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="20" data-available="true">
                                            20
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="21" data-available="true">
                                            21
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="22" data-available="true">
                                            22
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="23" data-available="true">
                                            23
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="4">
                                        <td class="js-calendar-day on " data-day="0" data-date="24" data-available="true">
                                            24
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="25" data-available="true">
                                            25
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="26" data-available="true">
                                            26
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="27" data-available="true">
                                            27
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="28" data-available="true">
                                            28
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="29" data-available="true">
                                            29
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="30" data-available="true">
                                            30
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="5">
                                        <td class="js-calendar-day on " data-day="0" data-date="31" data-available="true">
                                            31
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="calendar_table js-calendar-month" data-year="2014" data-month="8">
                                <caption>2014年9月</caption>
                                <tbody>
                                    <tr>
                                        <th>日</th>
                                        <th>一</th>
                                        <th>二</th>
                                        <th>三</th>
                                        <th>四</th>
                                        <th>五</th>
                                        <th>六</th>
                                    </tr>
                                    <tr data-week="0">
                                        <td></td>
                                        <td class="js-calendar-day on " data-day="1" data-date="1" data-available="true">
                                            1
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="2" data-available="true">
                                            2
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="3" data-available="true">
                                            3
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="4" data-available="true">
                                            4
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="5" data-available="true">
                                            5
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="6" data-available="true">
                                            6
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="1">
                                        <td class="js-calendar-day on " data-day="0" data-date="7" data-available="true">
                                            7
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="8" data-available="true">
                                            中秋
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="9" data-available="true">
                                            9
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="10" data-available="true">
                                            10
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="11" data-available="true">
                                            11
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="12" data-available="true">
                                            12
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="13" data-available="true">
                                            13
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="2">
                                        <td class="js-calendar-day on " data-day="0" data-date="14" data-available="true">
                                            14
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="15" data-available="true">
                                            15
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="16" data-available="true">
                                            16
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="17" data-available="true">
                                            17
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="18" data-available="true">
                                            18
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="19" data-available="true">
                                            19
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="20" data-available="true">
                                            20
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="3">
                                        <td class="js-calendar-day on " data-day="0" data-date="21" data-available="true">
                                            21
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="22" data-available="true">
                                            22
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="23" data-available="true">
                                            23
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="24" data-available="true">
                                            24
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="25" data-available="true">
                                            25
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="26" data-available="true">
                                            26
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="27" data-available="true">
                                            27
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="4">
                                        <td class="js-calendar-day on " data-day="0" data-date="28" data-available="true">
                                            28
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="29" data-available="true">
                                            29
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="30" data-available="true">
                                            30
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="calendar_table js-calendar-month" data-year="2014" data-month="9">
                                <caption>2014年10月</caption>
                                <tbody>
                                    <tr>
                                        <th>日</th>
                                        <th>一</th>
                                        <th>二</th>
                                        <th>三</th>
                                        <th>四</th>
                                        <th>五</th>
                                        <th>六</th>
                                    </tr>
                                    <tr data-week="0">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="js-calendar-day on " data-day="3" data-date="1" data-available="true">
                                            国庆
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="2" data-available="true">
                                            重阳
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="3" data-available="true">
                                            3
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="4" data-available="true">
                                            4
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="1">
                                        <td class="js-calendar-day on " data-day="0" data-date="5" data-available="true">
                                            5
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="6" data-available="true">
                                            6
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="7" data-available="true">
                                            7
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="8" data-available="true">
                                            8
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="9" data-available="true">
                                            9
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="10" data-available="true">
                                            10
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="6" data-date="11" data-available="true">
                                            11
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                    </tr>
                                    <tr data-week="2">
                                        <td class="js-calendar-day on " data-day="0" data-date="12" data-available="true">
                                            12
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="1" data-date="13" data-available="true">
                                            13
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="2" data-date="14" data-available="true">
                                            14
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="3" data-date="15" data-available="true">
                                            15
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="4" data-date="16" data-available="true">
                                            16
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day on " data-day="5" data-date="17" data-available="true">
                                            17
                                            <span class="cld_price">
                                                实时计价
                                            </span>
                                        </td>
                                        <td class="js-calendar-day  " data-day="6" data-date="18" data-available="false">
                                            18
                                        </td>
                                    </tr>
                                    <tr data-week="3">
                                        <td class="js-calendar-day  " data-day="0" data-date="19" data-available="false">
                                            19
                                        </td>
                                        <td class="js-calendar-day  " data-day="1" data-date="20" data-available="false">
                                            20
                                        </td>
                                        <td class="js-calendar-day  " data-day="2" data-date="21" data-available="false">
                                            21
                                        </td>
                                        <td class="js-calendar-day  " data-day="3" data-date="22" data-available="false">
                                            22
                                        </td>
                                        <td class="js-calendar-day  " data-day="4" data-date="23" data-available="false">
                                            23
                                        </td>
                                        <td class="js-calendar-day  " data-day="5" data-date="24" data-available="false">
                                            24
                                        </td>
                                        <td class="js-calendar-day  " data-day="6" data-date="25" data-available="false">
                                            25
                                        </td>
                                    </tr>
                                    <tr data-week="4">
                                        <td class="js-calendar-day  " data-day="0" data-date="26" data-available="false">
                                            26
                                        </td>
                                        <td class="js-calendar-day  " data-day="1" data-date="27" data-available="false">
                                            27
                                        </td>
                                        <td class="js-calendar-day  " data-day="2" data-date="28" data-available="false">
                                            28
                                        </td>
                                        <td class="js-calendar-day  " data-day="3" data-date="29" data-available="false">
                                            29
                                        </td>
                                        <td class="js-calendar-day  " data-day="4" data-date="30" data-available="false">
                                            30
                                        </td>
                                        <td class="js-calendar-day  " data-day="5" data-date="31" data-available="false">
                                            31
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div> 
                </div>
            </div>
        </div>


        <% if(data.isBook) { %>
        <% if(data.detailInfo.isTel) { %>
        <footer class="book_now_double"><a class="telphone_ask_btn js_telphone_btn" href="tel:4000086666" data-num="4000086666">电话咨询</a><a class="book_now_btn js_in_Footer" href="javascript:void(0);">开始预订</a></footer>
        <% } else { %>
        <footer class="book_now js_in_Footer"><a href="javascript:void(0);">开始预订</a></footer>
        <%} %>
        <% } else { %>
        <footer class="book_now"><a href="tel:4000086666" data-num="4000086666" class="js_telphone_btn">拨打免费服务电话</a></footer>
        <%} %>
    </script>
    <div id="footer"></div>
    <script>
        window.isIpad = true;
    </script>
    @RenderPage("../Shared/Footer.cshtml")

</body>
</html>




